@charset "utf-8";
.event_banner{
    width: 100%;
    margin-top: 25px;
    cursor: pointer;

}
.event_banner img{
    width: 100%;
}

.respon_768 {
    display: none;
  }
  
  @media (max-width: 768px) {
    .event_banner img:first-child {
      display: none;
    }
    .respon_768 {
      display: block;
    }
  }