@charset "utf-8";

.banner {
  display: block;
  width: 100%;
  /* height: auto; */


    margin-top: 70px;
    /* max-width: 1100px; */
    /* background-color: aqua; */
    box-shadow: 0 5px 5px -5px #333;

}

.slide-area {
  display: block;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.swBanner {
  display: block;
  width: 100%;
  /* height: 500px;  */
  /* object-fit: contain; */
  /* height: auto; */
}
.swBanner .swiper-slide {
  display: block;
  width: 100%;
  /* height: 500px; */
  /* object-fit: contain; */
  /* background-color: aquamarine; */
  /* height: auto; */
}
.swBanner .swiper-slide a {
  display: block;
  width: 100%;
  /* background-color: ; */
}
.swBanner .swiper-slide a img {
  width: 100%;
  /* height: 500px; */
  /* object-fit: contain; */
}
