@charset "utf-8";

.material-area {
  width: 100%;
  max-width: 1300px;
  /* background-color: aqua; */
  margin: 0 auto;
  margin-top: 40px;
}

/* 소재 슬라이드(아이콘) 영역 */
.material-slide-area {
  display: block;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  margin: 40px auto;
  /* margin-top: 40px; */
  justify-content: space-between;
}

.swMaterial {
  width: 100%;
}

.swMaterial .swiper-slide {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.swMaterial .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  opacity: 0.53;
}
.swMaterial .swiper-slide a:hover {
  opacity: 1;
}
.swMaterial .swiper-slide img {
  height: 60px;
  margin: 0 auto;

}

.swMaterial .swiper-slide .scale {
  scale: 1.2;
  overflow: hidden;
}

/* 소재별 굿즈 영역 */

.material-main {
  display: block;
  width: 100%;
  /* background-color: aquamarine; */
}

.material-goods {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px;
  width: 100%;
  /* background-color: darkcyan; */
  justify-content: center;
  align-items: center;
  padding: 0 4%;
}
.material-goods-card {
  display: block;
  width: 100%;
  /* background-color: antiquewhite; */
}

/* 각 상품 아이템 */
.material-goods-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5% 0;
  /* text-align: center; */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.material-goods-card a > img {
  width: 100%;
  object-fit: cover;
  height: 205.5px;
}

.material-goods-card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 5px; */
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.materal-textbox {
  width: auto;
  /* padding: 0 10px; */
}

.materal-textbox * {
  margin: 4px 0;
  line-height: 1.3;
}
.materal-textbox > p:first-child,
.materal-rating > span {
  font-size: 13px;
  font-weight: bold;
}

.price_bold {
  font-weight: bold;
}

/* .material-goods-card > img{
    width: 295px;
    margin: 0 auto;
} */
.materal-rating {
  display: flex;
  justify-content: center;
}

.materal-rating span{
    font-weight: bold;
}

.materal-rating > img {
  width: auto;
  /* height: 100%; */
  /* max-height: 20px; */
  object-fit: contain;
  margin: 0;
}

/* .material-goods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
} */

.material-goods-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.materal-textbox {
  padding: 10px;
  /* text-align: center; */
}

/* .material-goods-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  } */

.clothes,
.wood,
.glass {
  display: none;
}

/* 기본 스타일: 자재 상품 */
.material-goods {
  display: flex;
  flex-wrap: wrap; /* 아이템이 다음 줄로 감싸지도록 허용 */
  gap: 10px; /* 아이템 간의 간격 */
}

/* 카드 스타일 */
.material-goods-card {
  flex: 1 1 calc(25% - 20px); /* 큰 화면에서 4개의 아이템 표시 */

  text-align: center;
}

.hidden {
  display: block;
}

/* 더 보기 */

.show-more {
  text-align: center;
  margin: 20px 0;
}

#showMoreButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

/* 1024px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 1024px) {
  .material-goods-card {
    flex: 1 1 calc(50% - 20px); /* 3개의 아이템 표시 */
  }
  .material-goods-card a > img {

    height: 433px;
  }
  
}

/* 880px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 880px) {
  .material-goods-card {
    flex: 1 1 calc(50% - 20px); /* 2개의 아이템 표시 */
  }
}

/* 768px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .materal-textbox {
    text-align: center;

  }
  .material-goods-card a > img {

    height: 328.61px;
  }
}

/* 480px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 480px) {
  .swiper-slide img {
    width: 60%; /* 아이콘의 너비를 화면의 40%로 설정 */
  }

  .material-goods-card a > img {

    height: 372px;
  }

  .material-goods {
    padding: 0 10%;
  }
  .materal-textbox p{
    font-size: 14px;
  }
  .materal-textbox > p:first-child,
  .materal-rating > span {
    font-size: 12px;
  }

  .swiper-slide p {
    font-size: 0.8rem; /* 폰트 크기를 줄임 */
  }

  .hidden{
    display: none;
  }

  #showMoreButton {
    margin: 0 auto;
    display: block;
    border: none;
    color: #333;
    background-color: #fdd835;
  }
}

/* 360px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 385px) {
  .material-goods {
    display: grid; /* 그리드 레이아웃으로 전환 */
    grid-template-columns: repeat(1, 1fr); /* 1열 배치 */
    gap: 10px; /* 그리드 아이템 간의 간격 */
  }

  .material-goods-card a > img {

    height: 276px;
  }

  .material-goods-card {
    flex: unset; /* Flex 속성 제거 */
    width: 100%; /* 카드가 전체 너비를 차지하도록 설정 */
  }
  .more-link_m {
    display: block;
  }
}