@charset "utf-8";

.material-area{
    width: 100%;
    max-width: 1300px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-top: 40px;

}

/* 소재 슬라이드(아이콘) 영역 */

.material-slide-area{
    display: block;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    margin: 40px auto;
    /* margin-top: 40px; */
    justify-content: space-between;
}


.swMaterial{
    width: 100%;
}

.swMaterial .swiper-slide{
    width: 100%;
    margin: 0 auto;
    display: inline-block;

}

.swMaterial .swiper-slide a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    opacity: 0.53;
  
}
.swMaterial .swiper-slide a:hover{
    opacity: 1;
}
.swMaterial .swiper-slide img{
    height: 60px;
    margin: 0 auto;
    
}

.swMaterial .swiper-slide .scale{
    scale: 1.2;
    overflow: hidden;
}


/* 소재별 굿즈 영역 */
.material-main{
    display: flex;
    gap: 10px;
    width: 100%;
    /* background-color: darkcyan; */
    justify-content: center;
    align-items: center;
    
}
.material-goods-card{
    display: block;
    /* width: 100%;
    height: 100%; */
    width: 305px;
    height: 420px;
    /* height: auto; */
    /* background-color: antiquewhite; */
    
}
  /* 각 상품 아이템 */
  .material-goods-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    /* text-align: center; */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .material-goods-card a > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
  }

.material-goods-card a{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.materal-textbox{
    width: auto;
    /* padding: 0 10px; */
}

.materal-textbox *{
    margin: 8px 0;
}
.materal-textbox > p:first-child , .materal-rating > span{
    font-size: 13px;
}

.price_bold{
    font-weight: bold;
}

/* .material-goods-card > img{
    width: 295px;
    margin: 0 auto;
} */
.materal-rating{
    display: inline-block;
}

/* .materal-rating span{
    font-weight: bold;
} */

.materal-rating > img{
    width: auto;
    /* height: 100%; */
    max-height: 20px;
    object-fit: contain;
    margin: 0;
    /* width: 135px; */
}


 .material-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .material-goods-card {
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
  }

  
  @media (max-width: 820px) {
    .material-goods-card {
      flex: 2 2 calc(50% - 20px); 
      /* max-width: 310px; */
    }
  }

  
  @media (max-width: 480px) {
    .material-goods-card {
        flex: 2 2 calc(50% - 20px); 
    }
  }

 
  .materal-textbox {
    padding: 10px;
    /* text-align: center; */
  }

  
  /* .material-goods-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  } */


  
