@charset "utf-8";

.material-area {
  width: 100%;
  max-width: 1300px;
  /* background-color: aqua; */
  margin: 0 auto;
  padding: 20px;
}

/* 소재 슬라이드(아이콘) 영역 */
.material-slide-area {
  display: block;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  margin: 20px auto;
  justify-content: space-between;
}

.swMaterial {
  width: 100%;
}

.swMaterial .swiper-slide {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.swMaterial .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  opacity: 0.53;
}

.swMaterial .swiper-slide a:hover {
  opacity: 1;
}
.swMaterial .swiper-slide img {
  height: 60px;
  margin: 0 auto;
}

.swMaterial .swiper-slide .scale {
  scale: 1.2;
  overflow: hidden;
}

/* 소재별 굿즈 영역 */

.material-main {
  display: block;
  width: 100%;
  /* background-color: aquamarine; */
}

.material-goods {
  /* display: grid; */
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px;
  width: 100%;
  /* background-color: darkcyan; */
  justify-content: center;
  align-items: center;
  /* padding: 0 4%; */
}
.material-goods-card {
  display: block;
  width: 100%;
  /* background-color: antiquewhite; */
}

/* 각 상품 아이템 */
.material-goods-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5% 0;
  /* text-align: center; */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.material-goods-card a > img {
  width: 100%;
  object-fit: cover;
  height: 210px;
}

.material-goods-card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 5px; */
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-align: left;
}

.materal-textbox * {
  margin: 8px 0;
}
.materal-rating > span {
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.price_bold {
  font-weight: bold;
}

/* .material-goods-card > img{
    width: 295px;
    margin: 0 auto;
} */
.materal-rating {
  display: flex;
  justify-content: left;
}

.materal-rating span {
  margin-top: 2%;
}

.materal-rating > img {
  width: 100px;
  /* height: 100%; */
  /* max-height: 20px; */
  object-fit: contain;
  margin: 0;
}

/* .material-goods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
} */

.material-goods-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.materal-textbox {
  padding: 10px;
  /* text-align: center; */
}

/* .material-goods-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  } */

.clothes,
.wood,
.glass {
  display: none;
}

/* 기본 스타일: 자재 상품 */
.material-goods {
  display: flex;
  flex-wrap: wrap; /* 아이템이 다음 줄로 감싸지도록 허용 */
  gap: 10px; /* 아이템 간의 간격 */
}

/* 카드 스타일 */
.material-goods-card {
  flex: 1 1 calc(25% - 20px); /* 큰 화면에서 4개의 아이템 표시 */
  box-sizing: border-box; /* 패딩과 보더를 너비 계산에 포함 */
  text-align: center;
}

.hidden {
  display: block;
}

/* 더 보기 */

.show-more {
  text-align: center;
  margin: 20px 0;
}

#showMoreButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
  border-radius: 10px;
}

.m_title {
  font-size: 14px;
  font-weight: 800;
}

/* 장바구니 아이콘 부분 */
.add-to-cart1 {
  position: absolute;
  bottom: 42%; /* 필요에 따라 조정 */
  right: 5%; /* 필요에 따라 조정 */
  z-index: 10; /* 이미지 위에 표시되도록 */
}

/* 1024px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 1024px) {
  .material-goods-card {
    flex: 1 1 calc(50% - 20px); /* 3개의 아이템 표시 */
  }
  .material-goods-card a > img {
    height: 433px;
  }
  .materal-rating > span {
    font-size: 17px;
  }
  .materal-rating > img {
    width: 120px;
  }
}

/* 880px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 880px) {
  .material-goods-card {
    flex: 1 1 calc(50% - 20px); /* 2개의 아이템 표시 */
  }
}

/* 768px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .materal-textbox {
    text-align: left;
  }
  .material-goods-card a > img {
    max-height: 328.61px;
  }
}

/* 480px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 480px) {
  .swiper-slide img {
    width: 60%; /* 아이콘의 너비를 화면의 40%로 설정 */
  }

  .material-goods-card a > img {
    max-height: 250px;
  }

  .materal-textbox p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .swiper-slide p {
    font-size: 0.8rem; /* 폰트 크기를 줄임 */
  }

  .hidden {
    display: none;
  }

  #showMoreButton {
    margin: 0 auto;
    display: block;
    border: none;
    color: #333;
    background-color: #fdd835;
    font-size: 11px;
    margin-top: 0px;
  }
}

/* 360px 이하 화면을 위한 미디어 쿼리 */
@media (max-width: 385px) {
  .material-goods {
    /* display: grid;  */
    grid-template-columns: repeat(1, 1fr); /* 1열 배치 */
    gap: 10px; /* 그리드 아이템 간의 간격 */
  }

  .material-goods-card a > img {
    max-height: 250px;
  }

  .material-goods-card {
    flex: unset; /* Flex 속성 제거 */
    width: 100%; /* 카드가 전체 너비를 차지하도록 설정 */
  }
  .more-link_m {
    display: block;
  }
  .add-to-cart1 {
    bottom: 35%; /* 상대적으로 위치 조정 */
    right: 5%; /* 오른쪽 여백 조정 */
  }
}

/* 소재배너 */
.banner {
  border: 1px dashed #ccc;
  display: block;
  width: 100%;
  /* height: auto; */
  margin-top: 70px;
  /* max-width: 1100px; */
  /* background-color: aqua; */
  z-index: 9999;
}

.banner-slide-area {
  display: block;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.swiper-Banner .swiper-slide {
  opacity: 0; /* 기본 오파시티 값 */
  transition: all 1.8s; /* 오파시티 전환 효과 */
}

.swiper-Banner .swiper-slide-active {
  opacity: 1; /* 활성 슬라이드에만 완전한 오파시티 적용 */
}

.banne-slide > a {
  display: block;
  width: 100%;
  /* background-color: ; */
}
.banne-slide > a > img {
  width: 100%;
  /* height: 500px; */
  /* object-fit: contain; */
}
.b768px {
  display: none;
}

.b360px {
  display: none;
}

@media (max-width: 1024px) {
  .add-to-cart1 {
    bottom: 26%; /* 상대적으로 위치 조정 */
    right: 4%; /* 오른쪽 여백 조정 */
  }

  .add-icon {
    width: 35px; /* 아이콘 크기 조정 */
    height: 35px;
  }
}

@media (max-width: 768px) {
  .b1920px {
    display: none;
  }
  .b768px {
    display: block;
  }
  .slide-area {
    max-width: 450px;
  }
  .b360px {
    display: none;
  }

  .add-to-cart1 {
    bottom: 31%; /* 상대적으로 위치 조정 */
    right: 4%; /* 오른쪽 여백 조정 */
  }
}

@media (max-width: 480px) {
  .add-to-cart1 {
    bottom: 30%; /* 상대적으로 위치 조정 */
    right: 5%; /* 오른쪽 여백 조정 */
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  .add-to-cart1 {
    bottom: 39%; /* 상대적으로 위치 조정 */
    right: 5%; /* 오른쪽 여백 조정 */
  }

  .slide-area {
    max-width: 400px; /* 슬라이드 영역 최대 너비 조정 */
  }
}

@media (max-width: 360px) {
  .add-to-cart1 {
    bottom: 37%; /* 상대적으로 위치 조정 */
    right: 5%; /* 오른쪽 여백 조정 */
  }
  .material-goods-card a > img {
    max-height: 250px;
  }
}
