@charset "utf-8";
/* 리뷰 섹션 너비 100% */
.review-section {
  width: 100%;
  /* background-color: aquamarine; */
}

/* 컨테이너 최대 너비 1300px */
.review-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}
.review-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  }

/* 각 리뷰 아이템 스타일 */
.review-item {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2%;
  margin-bottom: 2%;
  text-align: center;
  flex: 1;
  max-width: 300px;
  height: auto;
}

.review-item * {
  margin: 3px;
}

.r_title {
  font-size: 13px;
}

.bold {
  font-weight: 900;
  font-size: 13px;
  margin: 2% 0;
}

.grey {
  max-width: 100%;
  color: #736e6e;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.review-image {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  margin-bottom: 3%;
}
.txt_wrap {
  position: relative;
  display: block;
  padding: 0 15%;
}
.txt_wrap p {
  margin-top: 5%;
}

/* 인스타 링크 추가 */
.insta-link{
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 0 2px;
  align-items: center;
  text-decoration: none;
  color: #333;
  text-shadow: 0 0 6px #ccc ;
  /* position: absolute;

  bottom: 30%;
  left: 12%; */

}

.insta-link img{
  width: 20px;
  height: 20px;
}



@media (max-width: 573px) {
  .insta-link span{
    font-size: 13px;
  }
  .insta-link img{
    width: 15px;
    height: 15px;
  }

  .insta-link{
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 0 2px;
    align-items: center;
    text-decoration: none;
    color: #333;
    text-shadow: 0 0 6px #ccc ;
    position: inherit;
    bottom: 0;
    left: 0;
    justify-content: center;
  }

}

/* 텍스트 말줄임 처리 */
.description {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

/* 스크롤바 설정 */
.swiper-scrollbar {
  background-color: rgba(0, 0, 0, 0.1); /* 스크롤바의 배경색 */
}

/* 드래그 바 스타일 */
.swiper-scrollbar-drag {
  background-color: #000; /* 드래그 바 색상 */
  border-radius: 4px;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 4%);
  bottom: var(--swiper-scrollbar-bottom, -30px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 7%);
}

.swReview .swiper-slide {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.5; 
  transform: scale(0.8); 
}

.swReview .swiper-slide.swiper-slide-active {
  opacity: 1; 
  transform: scale(1); 
}

/* 1024px 이하에서 3열 레이아웃 */
@media (max-width: 1024px) {
  .review-item {
    max-width: calc(33.33% - 20px); /* 3열을 위한 최대 너비 설정, 간격을 고려 */
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -86px; /* 중간 정도 위치 */
    z-index: 9;
}
}

/* 768px 이하에서 2열 레이아웃 */
@media (max-width: 768px) {
  .review-item {
    max-width: calc(50% - 20px); /* 2열을 위한 최대 너비 설정, 간격을 고려 */
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -72px; /* 중간 정도 위치 */
    z-index: 9;
}
  }

/* 480px 이하에서 1열 레이아웃 */
@media (max-width: 480px) {
  .review-item {
    max-width: 100%; /* 1열을 위한 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    margin-bottom: 5%;
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -45px; /* 중간 정도 위치 */
  }
}

/* 360px 이하에서 1열 레이아웃 */
@media (max-width: 360px) {
  .review-item {
    max-width: 100%; /* 1열을 위한 최대 너비 설정 */
    /* padding: 10px;  */
    /* box-shadow: none;  */
    /* 그림자 제거 */
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -30px; /* 중간 정도 위치 */
  }
}
