@charset "utf-8";

.subscription {
  position: relative;
  width: 100%;
  text-align: center;
}

.subscription-container {
  position: relative;
  max-width: 1300px;
  width: 100%;
}

.subscription-bg {
  position: relative;
  width: 100%;
  height: auto;
}

.form-container {
  position: absolute;
  height: auto;
  bottom: 10%;
  right: 10%;
}

.form-group {
  margin-bottom: 20px; /* 각 입력 필드와 메시지 사이의 공간 */
}

.form-group input {
  width: 100%; /* 기본 너비 100% */
  max-width: 300px; /* 최대 너비 설정 */
  height: 10%;
  min-height: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* 패딩과 보더를 포함하여 전체 너비 계산 */
}

.submit-btn {
  width: 6vw;
  height: 5vh;
  background-color: #f2b705;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Noto Sans KR";
}

.submit-btn:hover {
  background-color: #ffa500;
}

/* 에러 메시지 스타일 */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* 입력 필드와 에러 메시지 사이의 간격 */
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 줄임표로 표시 */
}

@media (max-width: 1345px) {
  .form-group input {
    width: 20vw;
    max-width: 300px; /* 최대 너비 설정 */
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    width: 7vw;
    height: 3vh;
  }
}

/* 나머지 미디어 쿼리는 동일하게 유지 */
@media (max-width: 1180px) {
  .submit-btn {
    width: 8vw;
    height: 4vh;
  }
}

@media (max-width: 1000px) {
  .form-group input {
    width: 20vw;
    max-width: 300px; /* 최대 너비 설정 */
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    width: 7vw;
    height: 3vh;
  }
}

@media (max-width: 848px) {
  .form-group input {
    width: 100%;
    max-width: 237px; /* 최대 너비 설정 */
    height: 10%;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    width: 10vw;
    height: 5.6vh;
  }
}

@media (max-width: 683px) {
  .form-group input {
    width: 28vw;
    height: 3vh;
  }

  .submit-btn {
    width: 9vw;
    height: 4vh;
  }
}

@media (max-width: 523px) {
  .form-group input {
    width: 30vw;
    height: 2.3vh;
  }

  .submit-btn {
    width: 12vw;
    height: 4vh;
  }
}

@media (max-width: 400px) {
  .form-group input {
    width: 30vw;
    height: 0.7vh;
  }

  .submit-btn {
    width: 14vw;
    height: 3vh;
  }
}
