@charset "utf-8";

.subscription {
  position: relative;
  width: 100%;
  text-align: center;
}

.subscription h1{
  display: block;
  position: absolute;
  font-size: 200%;
  /* min-width: ; */
  z-index: 999;
  top: 3%;
  left: 43%;
  left: 3%;
  font-weight: bold;
  color: #1f1f1f;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0 0 10px rgb(168, 168, 168);   /* 중간 번짐 */
}

.subscription-container {
  /* background-image: url("../images/A/event/1920_event.png") no-repeat; */
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  /* padding: 0% 0; */
}

.subscription-bg {
  position: relative;
  width: 100%;
  height: auto;
}

.form-container {
  position: absolute;
  height: auto;
  bottom: 10%;
  right: 10%;
  /* transform: translateY(-50%); */
  /* padding: 20px; */
}

.form-group {
  margin-bottom: 8%;
}

.form-group input {
  width: 100%;
  /* width: 20vw; */
  height: 10%;
  min-height: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submit-btn {
  /* width: 70%; */
  width: 6vw;
  height: 5vh;
  /* padding: 12px; */
  background-color: #f2b705;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Noto Sans KR";
}

.submit-btn:hover {
  background-color: #ffa500;
}

.error {
  border-color: red; /* 에러 발생 시 테두리 색상 변경 */
  background-color: #ffe6e6; /* 약간의 배경색으로 더 강조 */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* 테두리 그림자로 강조 */
}

@media (max-width: 1345px) {
  .form-group input {
    width: 20vw;
    height: 0.5vh;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    #notification {
      max-width: 500px; /* 더 넓은 화면에서는 최대 500px */
      font-size: 18px; /* 폰트 크기를 조금 더 크게 */
    }
  }

  .submit-btn {
    /* width: 70%; */
    width: 7vw;
    height: 3vh;
    /* padding: 12px; */
    background-color: #f2b705;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media (max-width: 1180px) {
  /* .form-group input {
    width: 20vw;
    height: 4vh;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  } */

  .submit-btn {
    /* width: 70%; */
    width: 8vw;
    height: 4vh;
    /* padding: 12px; */
    background-color: #f2b705;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .error {
    border-color: red;
    background-color: #ffe6e6;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    font-size: 15px; /* 작은 화면에서 폰트 크기 조정 */
  }
}
@media (max-width: 1000px) {
  .form-group input {
    width: 20vw;
    height: 0.5vh;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  

  .submit-btn {
    /* width: 70%; */
    width: 7vw;
    height: 3vh;
    /* padding: 12px; */
    background-color: #f2b705;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
}
@media (max-width: 848px) {
  .subscription-container img {
    content: url("../images/A/event/768_event.png");
  }
  .form-container {
    position: absolute;
    bottom: 10%;
    right: 5%;
    /* transform: translateY(-50%); */
    /* padding: 20px; */
  }

  .form-group input {
    width: 100%;
    max-width: 237px;
    /* width: 20vw; */
    height: 10%;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    /* width: 70%; */
    width: 10vw;
    height: 5.6vh;
    padding: 12px;
    background-color: #f2b705;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  #notification {
    max-width: 400px;
    font-size: 16px; /* 중간 크기 화면에서는 기본 폰트 크기 */
  }
}

@media (max-width: 683px) {
  .form-group input {
    width: 28vw;
    height: 3vh;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    /* width: 70%; */
    width: 9vw;
    height: 4vh;
    padding: 3px;
    background-color: #f2b705;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .error {
    font-size: 14px; /* 더 작은 화면에서 폰트 크기 조정 */
    padding: 8px;
  }
}

@media (max-width: 523px) {
  .form-group input {
    width: 30vw;
    height: 2.3vh;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    /* width: 70%; */
    width: 12vw;
    height: 4vh;
    /* margin: 10px; */
    background-color: #f2b705;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .error {
    font-size: 12px; /* 모바일 크기에 맞게 폰트 크기 조정 */
    padding: 6px;
  }
  #notification {
    max-width: 300px; /* 더 작은 화면에서는 최대 너비 축소 */
    font-size: 14px; /* 폰트 크기도 축소 */
    padding: 8px; /* padding 축소 */
  }

  .subscription h1{
    font-size: 150%;

  }

}

@media (max-width: 400px) {
  .subscription-container img {
    content: url("../images/A/event/360_event.png");
  }

  .form-group input {
    width: 30vw;
    height: 0.7vh;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .submit-btn {
    /* width: 70%; */
    width: 14vw;
    height: 3vh;
    /* margin: 10px; */
    background-color: #f2b705;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .error {
    font-size: 10px; /* 가장 작은 화면에서 폰트 크기 조정 */
    padding: 5px;
  }
  #notification {
    max-width: 300px; /* 더 작은 화면에서는 최대 너비 축소 */
    font-size: 14px; /* 폰트 크기도 축소 */
    padding: 8px; /* padding 축소 */
  }
}
